*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#root{
    background-color: rgb(158, 171, 220)
}
#main{
    height: 10vh;
    width: auto;
    color: rgb(255, 255, 255);
    font-size: 50;
}
.top{
    width: 100vw;
    height: 20vh;
    background-color: rgb(83, 110, 180);
    display: flex;
    justify-content: center;
    align-items: center;

}

.search>input{
    height: 2rem;
    width: 15rem;
    border-radius: 0.2rem;
    padding-left:0.5rem ;
   
}
img{
    height: 20vh;
    width: 10vw;
    border-radius: 50%;
}
#card{
    background-color: rgb(240, 216, 234);
    height: 35vh;
    width: 11vw;
    border: 2px solid black;
    padding-top: 1rem;
    margin: 1rem 1rem;
    text-align: center;
    
}
#pro{
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
}
.pad{
    padding: 0.5rem;
    text-decoration: none;
}
.search>button:hover{
    background-color: rgb(142, 142, 222);
}
.search>button{
    height: 2rem;
    width: 4rem;
    margin-left: 0.2rem;
    border-radius: 0.2rem;
    background-color: rgb(208, 208, 236);
}
.search{
    text-align: center;
    margin-top: 1rem;
}